<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board with React.js</title>
    <meta name="description" content="Built from Azat Mardan's Udemy React.js course, message board built with Express, MongoDB, and React.js"/>
    <meta name="author" content="Original: Azat Mardan, Student: Timothy Castillo"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/react.min.js"></script>
</head>
<body>
<div>
    <div id="header">
        {{{header}}}
    </div>
    {{{props}}}
    <div id="content">
        <div class="row" id="message-board"/>
            {{{messageBoard}}}
        </div>
    </div>
    <div id="footer">
        {{{footer}}}
    </div>
</div>

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>